body {
    background-image: url("/static/images/bgpatterns/connectwork.png");
    background-repeat: repeat;
    background-color: #cccccc;
}

.header-style.jumbotron {
    min-height: 300px;
    margin-bottom: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.footer-style.jumbotron {
    min-height: 300px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #272424;
    margin-bottom: 0px;
    border-top: 5px outset #1C6EA4;
    border-bottom: 5px outset #1C6EA4;
    /*border-width: 1px;*/
    /*border-style: outset;*/
    /*border-color: #000000;*/

}

.card.main-body {
    border-radius: 0px;

}
