{% extends 'base_template/base.html' %}

{% block title_block %}
    welcome to CovoEsprit
{% endblock %}

{% block body_block %}
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <h1 class=""><i class="fas fa-battery-0"></i> Body block working</h1>
                    <i class="fab fa-font-awesome"></i>
                </div>

                <div class="col-4">
                    <h1 class=""><i class="fas fa-car-side fa-3x"></i> Body block working</h1>
                    <ul class="fa-ul">
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>List icons can</li>
                        <li><span class="fa-li"><i class="fas fa-check-square"></i></span>be used to</li>
                        <li><span class="fa-li"><i class="fas fa-spinner fa-pulse"></i></span>replace bullets</li>
                        <li><span class="fa-li"><i class="far fa-square"></i></span>in lists</li>
                    </ul>
                </div>

                <div class="col-4">
                    <h1 class=""> Body block working</h1>

                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>


{% endblock %}
